*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  padding: 10vh;
}
h1{
  margin-bottom: 1rem;
  color: blue;
  
}
input{
  width: 50%;
  height: 2rem;
  color: blue;
  margin-bottom: 3rem;
  border: 2px solid lightblue;
}
button{
  margin-left: 2rem;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  background: lightblue;
  border: 1px solid blue;
  color: blue;
}

ul div{
  display: flex;

}
li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  }